/**
 * Details/Summary Component
 *
 * Collapsible sections with custom markers.
 */

details {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc(var(--line-height) - var(--border-thickness)) 1ch;
  margin-bottom: var(--line-height);
}

summary {
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  padding-left: 1ch;
}

details[open] summary {
  margin-bottom: var(--line-height);
}

Casummary::marker {
  display: inline-block;
  content: '▶ ';
  margin: 0;
}

details[open] > summary::marker {
  content: '▼ ';
}

details :last-child {
  margin-bottom: 0;
}
