/**
 * Footer Component
 *
 * Page footer with basic styling.
 */

footer {
  margin-top: calc(var(--line-height) * 2);
  padding-top: var(--line-height);
  border-top: var(--border-thickness) solid var(--text-color);
  text-align: center;
}

footer p {
  margin-top: calc(var(--line-height) / 2);
}

footer p:first-child {
  margin-top: 0;
}
